body {
  min-height: 75rem; /* Can be removed; just added for demo purposes */
}

.navbar {
  margin-bottom: 0;
}

.jumbotron {
  padding-top: 6rem;
  padding-bottom: 6rem;
  margin-bottom: 0;
  background-color: #fff;
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
}

.album {
  min-height: 50rem; /* Can be removed; just added for demo purposes */
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: #f7f7f7;
}

.card {
  float: left;
  width: 33.333%;
  padding: .75rem;
  margin-bottom: 2rem;
  border: 0;
}

.card > img {
  margin-bottom: .75rem;
}

.card-text {
  font-size: 85%;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}

.footer-backtotop {
	margin-left: 10px;
}

.form-center-screen {
	max-width: 40rem!important; 
	margin: 0 auto!important
}

.btn-navbar-margin-left {
  margin-left: 10px;
}

.btn-navbar-margin-right {
  margin-right: 10px;
}

input[type="text"].input-wireframe {
	background: transparent;
	border: none;
	color: white;
	border-bottom: 1px solid #ccc;
	-webkit-box-shadow: none;
	box-shadow: none;
	border-radius: 0;

	-webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s,
				-webkit-box-shadow ease-in-out .15s;
}

input[type="text"].input-wireframe:focus {
	 background: transparent!important;
	 border: none;
	 color: white!important;
	 border-bottom: 1px solid #5cb85c;
	 -webkit-box-shadow: none;
	 box-shadow: none;
	 border-radius: 0;
}


.navbar-extra-information {
    color: white!important;
}

input[type="text"].input-wireframe::placeholder {
    color: #ccc;
}

input[type="text"].input-wireframe:focus::placeholder {
    color: #5cb85c!important;
}
