.right-click-menu{
  background: #FAFAFA;
  border: 1px solid #BDBDBD;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
  display: block;           list-style: none;
  margin: 0;                padding: 0;
  position: absolute;       width: 250px;
  z-index: 999999; }

.right-click-menu li.item {
  cursor: pointer;
  border-bottom: 1px solid #E0E0E0;
  margin: 0;                padding: 5px 35px; }

.right-click-menu li.item:last-child {
  border-bottom: none; }

.right-click-menu li.item:hover {
  background: #1E88E5;      color: #FAFAFA; }



.right-click-menu li.header {
  width: 100%;
  text-align: center;
  border-bottom: 1px dashed #BDBDBD;
  line-height: 0.1em;
  margin: 15px 0 15px;  }

.right-click-menu li.header span {
  text-align: center;
  font-weight: bold;
  font-size: initial;
  padding: 5px 10px;
  background: #FAFAFA; }