<section class="jumbotron text-center">
	<div class="container">
		<h1 class="jumbotron-heading">Timetable</h1>
		<p class="lead text-muted">Please login to view your timetable or manage timetables or import any CRF's</p>
		<p>
			<a href="login.html" class="btn btn-primary">Login</a>
			<a href="#" class="btn btn-secondary">Contact Support</a>
		</p>
	</div>
	
	<a href="#" data-type="page-load" data-page="footer">Reload to footer</a>
</section>

<script> setNavBarLink("Open footer", "footer"); </script>