<template lang="pug">

	div(v-if="ready")
		.modal(ref="modal")
			.modal-dialog(role="document")
				//- Loading Resources
				.modal-content(v-if="state === 1")
					.modal-header
						h5.modal-title Resource Manager - Select Resource
						button.close(type="button" data-dismiss="modal" aria-label="Close")
							span(aria-hidden="true") ×
					.modal-body

						a(href="#")
							i(class="glyphicon glyphicon-pencil" style="padding-right: 15px")
							| Create new resource

						div(style="height:30px;")

						.table-responsive
							table.table.table-hover
								thead
									tr
										th ID
										th Name
										th Created by
										th Visibility
										th Date Created
								tbody
									tr
										td(colspan=5) Loading Resource Collections...

					.modal-footer
						button.btn.btn-outline-info(type="button" @click="onModalRefreshResourcesClick") Refresh
						button.btn.btn-secondary(type="button" data-dismiss="modal" @click="onModalCancelClick") Cancel

				//- Select Resource
				.modal-content(v-if="state === 2")
					.modal-header
						h5.modal-title Resource Manager - Select Resource
						button.close(type="button" data-dismiss="modal" aria-label="Close")
							span(aria-hidden="true") ×
					.modal-body

						a(href="#" @click.prevent="onModalCreateNewClick")
							i(class="glyphicon glyphicon-pencil" style="padding-right: 15px")
							| Create new resource

						div(style="height:30px;")

						.table-responsive
							table.table.table-hover
								thead
									tr
										th ID
										th Name
										th Created by
										th Visibility
										th Date Created
								tbody
									tr(v-for="(res, index) in m_resourceCollection" v-if="res != null || res !== undefined"
											@click="tsrc('res', index, $event)" v-bind:class="isHighlighted('res', index)")
										td {{res.id}}
										td {{res.name}}
										td {{res.creator}}
										td {{res.visibility}}
										td {{res.created_at}}

					.modal-footer
						button.btn.btn-outline-info(type="button" @click="onModalRefreshResourcesClick") Refresh
						button.btn.btn-primary(type="button" @click="onModalSelectResourceClick"
								:disabled="activeSelection['res'] == -1") Select Resource
						button.btn.btn-secondary(type="button" data-dismiss="modal" @click="onModalCloseClick") Close

				//- Loading Staff
				.modal-content(v-if="state === 3")
					.modal-header
						h5.modal-title Resource Manager - Select Staff
						button.close(type="button" data-dismiss="modal" aria-label="Close")
							span(aria-hidden="true") ×
					.modal-body

						a(href="#" @click.prevent="onModalCreateNewClick")
							i(class="glyphicon glyphicon-pencil" style="padding-right: 15px")
							| Add Staff Member

						p Selected Resource: {{m_activeResourceItem.name}}

						div(style="height:30px;")
						.table-responsive
							table.table.table-hover
								thead
									tr
										th ID
										th First Name
										th Last Name
										th Colour
										th Created By
								tbody
									td(colspan=5) Loading Staff List

					.modal-footer
						button.btn.btn-outline-info(type="button" @click="onModalRefreshStaffClick") Refresh
						button.btn.btn-secondary(type="button" data-dismiss="modal" @click="onModalCloseClick") Close

				//- Select Staff
				.modal-content(v-if="state === 4")
					.modal-header
						h5.modal-title Resource Manager - Select Staff
						button.close(type="button" data-dismiss="modal" aria-label="Close")
							span(aria-hidden="true") ×
					.modal-body

						a(href="#" @click.prevent="onModalCreateNewClick")
							i(class="glyphicon glyphicon-pencil" style="padding-right: 15px")
							| Add Staff Member

						p Selected Resource: {{m_activeResourceItem.name}}

						div(style="height:30px;")
						.table-responsive
							table.table.table-hover
								thead
									tr
										th ID
										th First Name
										th Last Name
										th Colour
										th Created By
										th Created On
								tbody
									tr(v-for="(res, index) in m_staffCollection" v-if="(res != null || res !== undefined)"
											@click="tsrc('staff', index, $event)" v-bind:class="isHighlighted('staff', index)")
										td {{res.id}}
										td {{res.first_name}}
										td {{res.last_name}}
										td {{res.staff_colour}}
										td {{res.creator}}
										td {{res.created_at}}

					.modal-footer
						button.btn.btn-outline-primary(type="button" @click="onModalChangeResStaffClick") Change Resource
						button.btn.btn-outline-info(type="button" @click="onModalRefreshStaffClick") Refresh
						button.btn.btn-primary(type="button" @click="onModalSelectStaffClick"
								:disabled="activeSelection['staff'] == -1") Select Staff
						button.btn.btn-secondary(type="button" data-dismiss="modal" @click="onModalCloseClick") Close

				//- Loading Buildings
				.modal-content(v-if="state === 5")
					.modal-header
						h5.modal-title Resource Manager - Select Building
						button.close(type="button" data-dismiss="modal" aria-label="Close")
							span(aria-hidden="true") ×
					.modal-body

						a(href="#" @click.prevent="onModalCreateNewClick")
							i(class="glyphicon glyphicon-pencil" style="padding-right: 15px")
							| Add Campus, Building or Room

						p Selected Resource: {{m_activeResourceItem.name}}

						div(style="height:30px;")
						.table-responsive
							table.table.table-hover
								thead
									tr
										th ID
										th Campus
										th DISP
										th Name
										th Creator
										th Created On
								tbody
									td(colspan=6) Loading Building List

					.modal-footer
						button.btn.btn-outline-info(type="button" @click='onModalRefreshBuildingClick') Refresh
						button.btn.btn-secondary(type="button" data-dismiss="modal" @click="onModalCloseClick") Close

				//- Select Building
				.modal-content(v-if="state === 6")
					.modal-header
						h5.modal-title Resource Manager - Select Building
						button.close(type="button" data-dismiss="modal" aria-label="Close")
							span(aria-hidden="true") ×
					.modal-body

						a(href="#" @click.prevent="onModalCreateNewClick")
							i(class="glyphicon glyphicon-pencil" style="padding-right: 15px")
							| Add Campus, Building or Room

						p Selected Resource: {{m_activeResourceItem.name}}

						div(style="height:30px;")
						.table-responsive
							table.table.table-hover
								thead
									tr
										th ID
										th Campus
										th DISP
										th Name
										th Creator
										th Created On
								tbody
									tr(v-for="(res, index) in m_buildingCollection" v-if="(res != null || res !== undefined)"
									@click="tsrc('building', index, $event)" v-bind:class="isHighlighted('building', index)")
										td {{res.id}}
										td {{res.campus}}
										td {{res.display}}
										td {{res.name}}
										td {{res.creator}}
										th {{res.created_at}}

					.modal-footer
						button.btn.btn-outline-primary(type="button" @click="onModalChangeResBuildingClick") Change Resource
						button.btn.btn-outline-info(type="button" @click="onModalRefreshBuildingClick") Refresh
						button.btn.btn-primary(type="button" @click="onModalSelectBuildingClick"
							:disabled="activeSelection['building'] == -1") Select building
						button.btn.btn-secondary(type="button" data-dismiss="modal" @click="onModalCloseClick") Close


				//- Loading Buildings
				.modal-content(v-if="state === 7")
					.modal-header
						h5.modal-title Resource Manager - Select Room
						button.close(type="button" data-dismiss="modal" aria-label="Close")
							span(aria-hidden="true") ×
					.modal-body

						a(href="#" @click.prevent="onModalCreateNewClick")
							i(class="glyphicon glyphicon-pencil" style="padding-right: 15px")
							| Add Campus, Building or Room

						p Selected Resource: {{m_activeResourceItem.name}}

						div(style="height:30px;")
						.table-responsive
							table.table.table-hover
								thead
									tr
										th ID
										th Number
										th Name
										th Created By
										th Created On
								tbody
									td(colspan=5) Loading Room List

					.modal-footer
						button.btn.btn-outline-info(type="button" @click='onModalRefreshRoomClick') Refresh
						button.btn.btn-secondary(type="button" data-dismiss="modal" @click="onModalCloseClick") Close

				//- Select Building
				.modal-content(v-if="state === 8")
					.modal-header
						h5.modal-title Resource Manager - Select Room
						button.close(type="button" data-dismiss="modal" aria-label="Close")
							span(aria-hidden="true") ×
					.modal-body

						a(href="#" @click.prevent="onModalCreateNewClick")
							i(class="glyphicon glyphicon-pencil" style="padding-right: 15px")
							| Add Campus, Building or Room

						p Selected Resource: {{m_activeResourceItem.name}}

						div(style="height:30px;")
						.table-responsive
							table.table.table-hover
								thead
									tr
										th ID
										th Number
										th Name
										th Created By
										th Created On
								tbody
									tr(v-for="(res, index) in m_roomCollection" v-if="(res != null || res !== undefined)"
											@click="tsrc('room', index, $event)" v-bind:class="isHighlighted('room', index)")
										td {{res.id}}
										td {{res.room_number}}
										td {{res.name}}
										td {{res.creator}}
										th {{res.created_at}}

					.modal-footer
						button.btn.btn-outline-primary(type="button" @click="onModalChangeResRoomClick") Change Resource
						button.btn.btn-outline-info(type="button" @click="onModalRefreshRoomClick") Refresh
						button.btn.btn-primary(type="button" @click="onModalSelectRoomClick"
							:disabled="activeSelection['room'] == -1") Select building
						button.btn.btn-secondary(type="button" data-dismiss="modal" @click="onModalCloseClick") Close

</template>

<script lang="ts">

	import {Component, Emit, Inject, Model, Prop, Provide, Vue, Watch} from 'vue-property-decorator';
	import {resource_collections, resource_shares, staff} from '../Database';

	import {PostRequest} from '../API';
    import {
        SelectResourceCb,
        ReqResCollectionCB,
        SelectStaffCb,
        ResourceCollectionItem,
        ReqStaffResourcesCB, ReqStaffList,
        Staff, SelectBuildingCb, ReqBuildingList, Building, Room, SelectRoomCb, ReqRoomList
    } from '../Lib/Resources';

	@Component({})
	export default class ModalResourceSelection extends Vue {
	// Props

	// Data
		private ready: boolean = false;
		private dontCloseModal: boolean = false;
		private state: RSMStatus = RSMStatus.Nothing;
		private modalState: RSMState = RSMState.None; // Bitwise

		private activeSelection: {} = {};

		private m_resourceCollection: ResourceCollectionItem[];
		private m_staffCollection: Staff[];
		private m_buildingCollection: Building[];
        private m_roomCollection: Room[];

		private m_activeResourceItem: ResourceCollectionItem;
		private m_activeBuilding: Building;
		private m_cbSelectResourceCollection: SelectResourceCb = null;
		private m_cbSelectStaffMember: SelectStaffCb = null;
		private m_cbSelectBuilding: SelectBuildingCb = null;
        private m_cbSelectRoom: SelectRoomCb = null;

	// Methods and Computed
		/**
		 * Element Mounted / Loaded
		 */
		mounted() {
			// define keys so vue can update them
			this.activeSelection = { res: -1, staff: -1, building: -1, room: -1 };
			this.m_resourceCollection = [];
			this._attachCloseListener = true;
			this.dontCloseModal = false;

			window.App.Modals.ResourceSelection = this;

			this.ready = true;
		}

		// Tells the updated thread if its the first time being updated
		// If this is true then that means the ready object has been set to
		// true and now the dom has been loaded, time to attach the jquery event
		private _attachCloseListener = true;

		/**
		 * After element re-render.
		 */
		updated() {
			if (this._attachCloseListener) {
				this._attachCloseListener = false;

				$(this.$refs.modal as HTMLElement).on("hidden.bs.modal", this.onModalHidden);
			}
		}

		/**
		 * Table Selection Row Clicked
		 *
		 * This is thrown when ever a row is clicked so the
		 * selection can be updated.
		 *
		 * @param {string} key
		 * @param {number} index
		 * @param {MouseEvent} e
		 */
		private tsrc(key: string, index: number, e: MouseEvent) {
			// If we are clicking the active selection
			if (this.activeSelection[key] == index) {
				// Reset the selection
				this.activeSelection[key] = -1;
			} else {
				// Set the selection to the index
				this.activeSelection[key] = index;
			}
		}

		/**
		 * Tells the
		 *
		 * @param {string} key
		 * @param {number} index
		 * @returns {string}
		 */
		private isHighlighted(key: string, index: number) {
			let state = this.activeSelection[key] == [index];
			return state ? "table-info" : "not-info_" + this.activeSelection[key];
		}

		/**
		 * When the modal is closed / hiding
		 */
		private onModalHidden() {
			// Debug stuff:
			//console.log("ModalResourceSelection::onModalHidden(), State  = ", this.state, "ModalState  = ", this.modalState);
			//console.log("ModalResourceCollection::State = ", RSMStatus[this.state], " ModalState = ", dec2bin(this.modalState));

			// If our state == 2 then we are
			//      selecting a resource collection

			interface IChecks {
				Loading:  RSMStatus;
				Select:   RSMStatus;
				Callback: Function;
				Active:   string;
				DataSet:  Array<Object>;
			}

			let checks: IChecks[] = [ {
					Loading:  RSMStatus.ResourceLoading,
					Select:   RSMStatus.ResourceSelect,
					Callback: this.m_cbSelectResourceCollection,
					Active:   'res',
					DataSet:  this.m_resourceCollection
				}, {
                    Loading:  RSMStatus.StaffLoading,
                    Select:   RSMStatus.StaffSelect,
                    Callback: this.m_cbSelectStaffMember,
                    Active:   'staff',
                    DataSet:  this.m_staffCollection
                }, {
                    Loading:  RSMStatus.BuildingLoading,
                    Select:   RSMStatus.BuildingSelect,
                    Callback: this.m_cbSelectBuilding,
                    Active:   'building',
                    DataSet:  this.m_buildingCollection
                }, {
				    Loading:  RSMStatus.RoomLoading,
	                Select:   RSMStatus.RoomSelect,
	                Callback: this.m_cbSelectRoom,
	                Active:   'room',
	                DataSet:   this.m_roomCollection
				}
			];

			let looping = true;
			for (let x = 0; x < checks.length && looping; x++) {
				const check = checks[x];

				if (this.state != check.Loading &&
						this.state != check.Select)
					continue;

				// If we are loading or closing
				if (this.state == check.Loading ||
						this.modalState & RSMState.Close) {
					if (check.Callback != null)
						check.Callback(false, null);
				}

				// If we have a selection
				else if (this.modalState & RSMState.Selection) {
					// If we have not selected a resource (this could also
					//  mean there was none).

					// Check if no selection
					if (this.activeSelection[check.Active] == -1) {
						// Call callback
						check.Callback(false, null);
					}

					// We have a selection
					else {
						// Get the selection
						let x = this.activeSelection[check.Active];

						// Call callback
						check.Callback(true, check.DataSet[x]);
					}
				}

				// If we are disposing the callback
				if (!(this.modalState & RSMState.DontDisposeCallback))
					check.Callback = null;

				// Garbage cleanup
				if (!this.dontCloseModal) {
					// Clear up the resource list
					check.DataSet = [];

					// Reset the state to Nothing
					//  so we don't render anything.
					this.state = RSMStatus.Nothing;
				}
			}

		}

		/**
		 * When the cancel button is clicked
		 */
		private onModalCancelClick() {
			this.modalState = RSMState.Cancel;
		}

		/**
		 * When the close button is clicked
		 */
		private onModalCloseClick()  {
			this.modalState = RSMState.Close;
		}

        /**
         * When the select button is clicked
         */
		private onModalSelectResourceClick() {
			this.modalState = RSMState.Selection;
			this.modalInvoke('hide');
		}

        /**
         * On create new clicked
         */
		private onModalCreateNewClick() {
			// Open a new tab
			alert("Please click refresh after creating the resource collection.");
		}

        /**
         * Refresh resources
         */
		private onModalRefreshResourcesClick() {
			// Just recall select resource collection with the same callback
			//      this will reset the state and reload the list.
			this.selectResourceCollection(this.m_cbSelectResourceCollection);
		}

		/**
		 * Select a resource collection
		 */
		public selectResourceCollection(callback: SelectResourceCb) {
			this.state = RSMStatus.ResourceLoading;         // Set the state to 1 (loading resource collections)
			this.modalState = RSMState.Close;               // Set the close state to CLOSE
			this.m_cbSelectResourceCollection = callback;   // Set the callback
			this.activeSelection['res'] = -1;               // Reset active selection.

			// Show the modal
			this.modalInvoke("show");

			// Request the resource collection list from the server
			let $this = this;
			PostRequest("req/resource-collection", null,
			function(res, status, jqxhr) {
				// Reset the collection
				$this.m_resourceCollection.length = 0;

				// Define our counter
				let cnt = -1;

				// Loop our owned resource collections
				for (cnt = 0; cnt < res.owned.length; cnt++) {
					const resCol = res.owned[cnt]; // Item

					// Convert to ResourceCollectionItem
					let itm: ResourceCollectionItem = (resCol as ResourceCollectionItem);
					itm.readonly = false;

					// Add the item to the list by it's id
					$this.m_resourceCollection[itm.id] = itm;
				}

				for (cnt = 0; cnt < res.shared.length; cnt++) {
					const resCol = res.shared[cnt]; // Item

					// Convert to ResourceCollectionItem
					let itm: ResourceCollectionItem = (resCol.resource as ResourceCollectionItem);
					itm.readonly = (resCol.type != "rw");

					// Add the item to the list by it's id
					$this.m_resourceCollection[itm.id] = itm;
				}

				// Display our list
				$this.state = RSMStatus.ResourceSelect;
			} as ReqResCollectionCB);
		}

		/**
		 * Refresh staff list
		 */
		private onModalRefreshStaffClick() {
			this.staff_LoadStaffList(this.m_activeResourceItem.id);
		}

		/**
		 * Select staff
		 */
		private onModalSelectStaffClick()  {
			this.modalState = RSMState.Selection;
			this.modalInvoke('hide');
		}

		/**
		 * Change Resource Collection
		 */
		private onModalChangeResStaffClick() {
			// Just call selectStaffMember and it
			// will handle the rest of resetting the states.
			this.selectStaffMember(this.m_cbSelectStaffMember);
		}

		/**
		 * Select staff member
		 */
		public selectStaffMember(callback: SelectStaffCb) {
			// Store the instance for later.
			let $this = this;
			this.dontCloseModal = true;

			this.state = RSMStatus.Nothing;                 // Set the state to 1 (loading resource collections)
			this.modalState = RSMState.Close;               // Set the close state to CLOSE
			this.activeSelection['staff'] = -1;             // Reset active selection.

			// Select a resource
			this.selectResourceCollection(function(status, res) {
				$this.state          = RSMStatus.StaffLoading;
				$this.modalState     = RSMState.Cancel;
				$this.dontCloseModal = true;

				// DEBUG: console.log("Staff -> Resource: ", status, res, "Don't Close Modal", $this.dontCloseModal);

				// If a resource was not selected return false
				if (status == false) {
					// DEBUG: console.log("status == false");

					$this.state = RSMStatus.Nothing;
					$this.modalState = RSMState.Close;
					$this.dontCloseModal = false;
					$this.modalInvoke("hide");
					callback(false, null);
					return;
				}

				// Store our callback
				$this.m_cbSelectStaffMember = callback;

				// Store our selected resource
				$this.m_activeResourceItem = res;

				// Send the post request
				$this.staff_LoadStaffList(res.id);
			});
		}

		/**
		 * Load staff list
		 */
		private staff_LoadStaffList(resourceId: number) {
			let $this = this;
			$this.state          = RSMStatus.StaffLoading;
			$this.modalState     = RSMState.Cancel;

			PostRequest("req/resources/" + resourceId + "/staff", null,
			function(res: ReqStaffList, status, jqxhr) {
				// Allow the modal to be closed
				//  and garbage collection
				$this.dontCloseModal = false;
				$this.m_staffCollection = res.output;

				// Set our state to display the list
				$this.state = RSMStatus.StaffSelect;
				$this.modalState = RSMState.Cancel;
			} as ReqStaffResourcesCB);
		}

		public selectBuilding(callback: SelectBuildingCb) {
			// Store the instance for later.
			let $this = this;
			let ogClose = $this.dontCloseModal;
			this.dontCloseModal = true;

			this.state = RSMStatus.Nothing;                 // Set the state to 1 (loading resource collections)
			this.modalState = RSMState.Close;               // Set the close state to CLOSE
			this.activeSelection['building'] = -1;          // Reset active selection.

			// Select a resource
			this.selectResourceCollection(function(status, res) {
				$this.state          = RSMStatus.BuildingLoading;
				$this.modalState     = RSMState.Cancel;
				$this.dontCloseModal = true;

				// If a resource was not selected return false
				if (status == false) {
					// DEBUG: console.log("status == false");
					$this.state = RSMStatus.Nothing;
					$this.modalState = RSMState.Close;
					$this.dontCloseModal = false;
					$this.modalInvoke("hide");
					callback(false, null);
					return;
				}

				// Store our callback
				$this.m_cbSelectBuilding = callback;

				// Store our selected resource
				$this.m_activeResourceItem = res;

				// Send the post request
				$this.buildings_LoadBuildingList(res.id, ogClose);
			});
		}

		private buildings_LoadBuildingList(resourceId: Number, defaultCloseModal: boolean = null) {
			let $this = this;
			$this.state          = RSMStatus.BuildingLoading;
			$this.modalState     = RSMState.Cancel;

			PostRequest("req/resources/" + resourceId + "/buildings", null,
			function(res: ReqBuildingList, status, jqxhr) {
				// Allow the modal to be closed
				//  and garbage collection
				if (defaultCloseModal == null)
					 $this.dontCloseModal = false;
				else $this.dontCloseModal = defaultCloseModal;

				$this.m_buildingCollection = res.output;

				// Set our state to display the list
				$this.state = RSMStatus.BuildingSelect;
				$this.modalState = RSMState.Cancel;
			});
		}

		private onModalRefreshBuildingClick() {
			this.buildings_LoadBuildingList(this.m_activeResourceItem.id, this.dontCloseModal);
		}

		private onModalChangeResBuildingClick() {
			// Just call selectBuilding and it
			// will handle the rest of resetting the states.
			this.selectBuilding(this.m_cbSelectBuilding);
		}

		private onModalSelectBuildingClick() {
			this.modalState = RSMState.Selection;
			this.modalInvoke('hide');
		}

        public selectRoom(callback: SelectRoomCb) {
            // Store the instance for later.
            let $this = this;
            let ogClose = $this.dontCloseModal;
            this.dontCloseModal = true;

            this.state = RSMStatus.Nothing;             // Set the state to 1 (loading resource collections)
            this.modalState = RSMState.Close;           // Set the close state to CLOSE
            this.activeSelection['room'] = -1;          // Reset active selection.

            // Select a resource
            this.selectBuilding(function(status, res) {
                $this.state          = RSMStatus.RoomLoading;
                $this.modalState     = RSMState.Cancel;
                $this.dontCloseModal = true;

                // If a resource was not selected return false
                if (status == false) {
                    // DEBUG: console.log("status == false");
                    $this.state = RSMStatus.Nothing;
                    $this.modalState = RSMState.Close;
                    $this.dontCloseModal = false;
                    $this.modalInvoke("hide");
                    callback(false, null);
                    return;
                }

                // Store our callback
                $this.m_cbSelectRoom = callback;

                // Store our selected resource
                $this.m_activeBuilding = res;

                // Send the post request
                $this.rooms_LoadBuildingList(res.id, ogClose);
            });
        }

        private rooms_LoadBuildingList(buildingId: Number, defaultCloseModal: boolean = null) {
            let $this = this;
            $this.state          = RSMStatus.RoomLoading;
            $this.modalState     = RSMState.Cancel;

            PostRequest("req/resources/buildings/" + buildingId + "/rooms", null,
            function(res: ReqRoomList, status, jqxhr) {
                // Allow the modal to be closed
                //  and garbage collection
                if (defaultCloseModal == null)
                     $this.dontCloseModal = false;
                else $this.dontCloseModal = defaultCloseModal;

                // Room Collection
                $this.m_roomCollection = res.output;

                // Set our state to display the list
                $this.state = RSMStatus.RoomSelect;
                $this.modalState = RSMState.Cancel;
            });
        }

        onModalChangeResRoomClick() {
            // Just call selectRoom and it
            // will handle the rest of resetting the states.
            this.selectRoom(this.m_cbSelectRoom);
        }
        onModalRefreshRoomClick() {
            this.buildings_LoadBuildingList(this.m_activeResourceItem.id, this.dontCloseModal);
        }

        onModalSelectRoomClick() {
            this.modalState = RSMState.Selection;
            this.modalInvoke('hide');
        }

		/**
		 * Get the modal element and invoke a command
		 *
		 * @param {"show" | "hide" | "toggle" | "dispose" | "enable" | "disable" | "toggleEnabled" | "update"} command
		 */
		private modalInvoke(command: "show" | "hide" | "toggle" | "dispose" | "enable" |
				"disable" | "toggleEnabled" | "update") {

			// If we are not closing the modal just ignore the hide requests
			if (command == "hide" && this.dontCloseModal) {
				// Call the hidden event, this will allow the callback to still work
				// while we don't close the modal.
				this.onModalHidden();
				return;
			}

			// Send the command to the modal
			$(this.$refs.modal as HTMLElement)['modal'](command as any);
		}

		private getModalStateFlags() {
			return dec2bin(this.modalState)
		}

		private getStatusText() {
			return RSMStatus[this.state];
		}
	}

	export enum RSMStatus {
		Nothing = 0,
		ResourceLoading = 1,
		ResourceSelect = 2,
		StaffLoading = 3,
		StaffSelect = 4,
		BuildingLoading = 5,
		BuildingSelect = 6,
		RoomLoading = 7,
		RoomSelect = 8
	}

	export enum RSMState {
		/*0000 0000*/ None = 0,
		/*0000 0001*/ DontDisposeCallback = 1 << 0,
		/*0000 0010*/ Close               = 1 << 1,
		/*0000 0100*/ Cancel              = 1 << 1 & 1 << 2, // Cancel = Close & Cancel
		/*0000 1000*/ Selection           = 1 << 3
	}

	function dec2bin(dec){
		return (dec >>> 0).toString(2);
	}

</script>


<style scoped>
	tr {
		cursor: pointer;
	}
</style>