<template lang="pug">

	div(v-if="ready")
		.modal(ref="modal")
			.modal-dialog(role="document")
				//- Edit the slot
				.modal-content(v-if="state === 1")
					.modal-header
						h5.modal-title Edit Slot
						button.close(type="button" data-dismiss="modal" aria-label="Close")
							span(aria-hidden="true") ×
					.modal-body
						div
							//- Display error message
							.form-row.mb-1(ref="timeError" v-if="pendingChanges.start > pendingChanges.end || pendingChanges.end < pendingChanges.start")
								small(class="text-warning") Warning: The first time has to become before the second, 09:00-12:00 is valid while 12:00-09:00 is not!

							.form-row.mb-2
								.col-md-6.mb-3
									label Day
									select.form-control(v-model='pendingChanges.day')
										option(value=0) Monday
										option(value=1) Tuesday
										option(value=2) Wednesday
										option(value=3) Thursday
										option(value=4) Friday
										option(value=5) Saturday
										option(value=6) Sunday

								.col-md-3.mb-3
									label Start Time
									.input-group.clockpicker(data-placement='left' data-align='top' data-autoclose='true')
										input.form-control(v-model="pendingChanges.start" type='text'
											value='00:00' ref="startTime"
											:class="{ 'is-invalid': pendingChanges.start > pendingChanges.end }")
										span.input-group-addon
											span.glyphicon.glyphicon-time
								.col-md-3.mb-3
									label End Time
									.input-group.clockpicker(data-placement='left' data-align='top' data-autoclose='true')
										input.form-control(v-model="pendingChanges.end" type='text'
											value='24:00' ref="endTime"
											:class="{ 'is-invalid': pendingChanges.end < pendingChanges.start }")
										span.input-group-addon
											span.glyphicon.glyphicon-time

							.form-row
								.col-md-6.mb-3
									label Room

									.d-table-cell.w-100
										input.form-control(type='text' :placeholder='pendingChanges.room.getName()' readonly style="background-color: #fff;")
									.d-table-cell.align-middle
										button.btn.btn-default(@click='onModalSelectRoomClick')
											i.fa.fa-chevron-right

								.col-md-6.mb-3
									label Staff

									.d-table-cell.w-100
										input.form-control(type='text' :placeholder='pendingChanges.staff.getName()' readonly style="background-color: #fff;")
									.d-table-cell.align-middle
										button.btn.btn-default(@click='onModalSelectStaffClick')
											i.fa.fa-chevron-right

							.form-row
								.col-md-12.mb-3
									label Instance

									.d-table-cell.w-100
										input.form-control(type='text' :placeholder='pendingChanges.getInstanceText()' readonly style="background-color: #fff;")
									.d-table-cell.align-middle
										button.btn.btn-default(@click='onModalSelectInstanceClick')
											i.fa.fa-chevron-right

					.modal-footer
						button.btn.btn-link(type="button" @click="restoreOriginal") Restore
						button.btn.btn-outline-danger(type="button" @click="onDeleteSlotClick") Delete
						button.btn.btn-primary(type="button" @click="onModalSaveChanges") Save Changes
						button.btn.btn-secondary(type="button" data-dismiss="modal" @click="onModalCloseClick") Cancel

				//- Saving Changes
				.modal-content(v-if="state === 2")
					.modal-header
						h5.modal-title Saving changes...
					.modal-body
						div
							| Changes are being saved, please wait...
					.modal-footer
						button.btn.btn-secondary(type="button" disabled) Please wait, saving...

				//- Successfully saved changes
				.modal-content(v-if="state === 3")
					.modal-header
						h5.modal-title Successfully saved changes.
						button.close(type="button" data-dismiss="modal" aria-label="Close")
							span(aria-hidden="true") ×
					.modal-body
						div
							| Changes have been saved.
					.modal-footer
						button.btn.btn-secondary(type="button" data-dismiss="modal") Close

				//- Error occured
				.modal-content.focus-outline-danger(v-if="state === 4")
					.modal-header
						h5.modal-title An error occurred
					.modal-body
						div
							| There was a error while processing the request...
							br
							p {{errorMessage}}
					.modal-footer
						button.btn.btn-secondary(type="button" data-dismiss="modal") Close
</template>

<script lang="ts">

    import {Component, Emit, Inject, Model, Prop, Provide, Vue, Watch} from 'vue-property-decorator';
    import TimetableDay from "./Timetable-Day.vue";
    import TimetableCourse from "./Timetable-Course.vue";
    import {EditSlotCb, EditSlotStatus} from "../Lib/Slots";
    import {SlotView} from "../Lib/Timetable";
    import {PostRequest} from "../API";
    import {} from "toastr";
    import * as _ from "lodash"

    @Component({})
    export default class ModalEditSlot extends Vue {
    // Props

    // Data
		private ready = false;                  // A hack to stop vuejs from rendering until we are ready
		private state: MEState = 0;             // Our current rendering state
		private modalState: EditSlotStatus = 0;
        private course: TimetableCourse;
        private slot: TimetableDay = null;
        private pendingChanges: SlotView = null;
        private originalObject: SlotView = null;

        private errorMessage: string = "";

        private callback: EditSlotCb = null;
		private disableCloseEvent: boolean = false;

    // Methods and Computed
        mounted() {
            // Set the global variable to this
            window.App.Modals.EditSlot = this;
            this._attachCloseListener = true;
			this.errorMessage = "None specified";
			this.pendingChanges = null;

            // Tell Vue were ready
			this.ready = true;
            this.modalState = EditSlotStatus.Cancelled;
        }

        // Tells the updated thread if its the first time being updated
        // If this is true then that means the ready object has been set to
        // true and now the dom has been loaded, time to attach the jquery event
        private _attachCloseListener = true;
        private _setDateTime = false;

        /**
         * After element re-render.
         */
        updated() {
            if (this._attachCloseListener) {
                this._attachCloseListener = false;
                $(this.$refs.modal as HTMLElement).on("hidden.bs.modal", this.onModalHidden);
            }

            if (this._setDateTime) {
                this._setDateTime = false;
				let $this = this;
				let isValid = true;

				// Setup the time pickers
                $(this.$el).find('.clockpicker')['clockpicker']({
                    placement: "bottom",

	                // Save the times
                    afterDone: function() {
                        let start = $($this.$refs.startTime as HTMLElement).val() as string;
                        let end = $($this.$refs.endTime as HTMLElement).val() as string;
                        $this.pendingChanges.start = start;
                        $this.pendingChanges.end   = end;
	                }
                });
            }
        }

        /**
         * Edit Slot
         */
        editSlot(course: TimetableCourse, slot: TimetableDay, cb: EditSlotCb): void {
			this.course     = course;
			this.slot       = slot;
			this.state      = MEState.Edit;
			this.modalState = EditSlotStatus.Cancelled;
			this.callback = cb;
			this._setDateTime = true;
			this.pendingChanges = slot.slotview;
			this.originalObject = _.cloneDeep(this.pendingChanges);

			this.modalInvoke('show');
        }

        /**
         * Delete slot
         *
         * @param {Event} event
         */
        private onDeleteSlotClick(event: Event) {
            console.log("onDeleteSlotClick");

            if (event != null)
                event.preventDefault();

            this.modalState = EditSlotStatus.Delete;
            this.modalInvoke('hide');
        }

        /**
         * Check if the time is invalid
         *
         * @returns {boolean}
         */
        private isTimeInvalid() {
            return (this.pendingChanges.start > this.pendingChanges.end ||
	            this.pendingChanges.end < this.pendingChanges.start);
        }

        /**
         * When the modal is saved
         *
         * @param {Event} event
         */
        private onModalSaveChanges(event: Event) {
            console.log("onModalSaveChanges", this.pendingChanges);

            // Prevent any events
            if (event != null)
                event.preventDefault();

            // Validate times
			if (this.isTimeInvalid()) {
				alert("There is a error with you're dates, please fix that before saving!");
				return;
			}

            // Store this instance
            let $this = this;
            this.state = MEState.Saving;

            // Attempt to save changes
			PostRequest("req/slot/" + this.pendingChanges.id + "/update", this.pendingChanges,
			function( res: { success: boolean, message: string }, status, jq ) {
				if (!res.success) {
				    $this.modalState = EditSlotStatus.Error;

                    $this.modalInvoke('hide');
                    return;
				}

				$this.state = MEState.Success;
			},
			function( XMLHttpRequest, szStatus, error ) {
			    console.log("Failed to request slot -> ", XMLHttpRequest, szStatus, error);

			    $this.state = MEState.Error;
			    $this.errorMessage = error;
			});
        }

        /**
         * When the modal is closed
         *
         * @param {Event} event
         */
        private onModalCloseClick(event: Event) {
            console.log("onModalCloseClick");
            if (event != null) event.preventDefault();

            this.modalState = EditSlotStatus.Cancelled;
            this.modalInvoke('hide');
        }

        /**
         * When the room button is clicked
         */
        private onModalSelectRoomClick() {
			let $this = this;
			this.disableCloseEvent = true;

			this.modalInvoke('hide');

            window.App.Modals.ResourceSelection.selectRoom(
            function(status, staff) {
				console.log("Resource Selection -> ", status, staff);
            });
        }

        /**
         * When the staff button is clicked
         */
        private onModalSelectStaffClick() {
            let $this = this;
            this.disableCloseEvent = true;

			this.modalInvoke("hide");

			// Select the staff member
			window.App.Modals.ResourceSelection.selectStaffMember(
		    function(status, staff) {
		        console.log("Staff Selection -> ", status, staff);
                $this.disableCloseEvent = false;

                // If we have a staff, then update its properties
                if (status) {
                    console.log("Changing Staff -> ", $this.pendingChanges.staff, staff);

                    $this.pendingChanges.staff.id = staff.id;

                    $this.pendingChanges.staff.name =
	                    staff.last_name + ", " + staff.first_name;

                    $this.pendingChanges.staff.colour =
	                    staff.staff_colour;
                } else {
                    $this.restoreOriginal();
                }

                $this.modalInvoke("show");
		    });
        }

        private onModalSelectInstanceClick() { }

        /**
         * Restore the original object
         */
        private restoreOriginal() {
            this.originalObject.CopyTo(this.pendingChanges);
        }

        /**
         * When the modal is closed
         */
        private onModalHidden() {
            if (this.disableCloseEvent)
                return;

            if (this.state == MEState.Success) {
                if (this.callback != null)
                    this.callback(EditSlotStatus.Saved);
            }

            else if (this.modalState == EditSlotStatus.Delete) {
				// TODO: Delete

                if (this.callback != null)
                    this.callback(EditSlotStatus.Saved);
            }

            else if (this.modalState == EditSlotStatus.Cancelled ||
                    this.modalState == EditSlotStatus.Error) {
                // Reset
				this.restoreOriginal();

	            if (this.callback != null)
                    this.callback(this.modalState);
            }

            // Sort the changes
            this.course.parent.sortSlots();
        }

        /**
         * Invoke the modal
         *
         * @param {"show" | "hide" | "toggle" | "dispose" | "enable" | "disable" | "toggleEnabled" | "update"} option
         */
        private modalInvoke(option: "show" | "hide" | "toggle" | "dispose" | "enable" |
                "disable" | "toggleEnabled" | "update") {
            $(this.$refs.modal as HTMLElement)['modal'](option as any);
        }

        /**
         * Get the modal state flags
         *
         * @returns {*}
         */
        private getModalStateFlags() {
            return dec2bin(this.modalState);
        }
    }

    enum MEState {
        None    = 0,
	    Edit    = 1,
	    Saving  = 2,
        Success = 3,
	    Error   = 4
    }

    function dec2bin(dec){
        return (dec >>> 0).toString(2);
    }

</script>

<style scoped>

</style>