<template lang="pug">

    div(v-if="ready" v-on:contextmenu='openDropDown')
        table(data-vertable="ver1" style="table-layout:fixed")

            //- Dont have days
            tbody(v-if='!hasSlots()')
                timetable-width-alloc

                tr.timetable-row
                    td.timetable-col.column1(rowspan="3" height="100px" data-column="column1")
                        div
                            .text-center {{course.identifier}}
                            .row(v-if="course.hasDates()")
                                .col-md-6.text-left
                                    span(v-if="course.hasStartDate()") {{ course.start_date }}
                                .col-md-6.text-right
                                    span(v-if="course.hasEndDate()")   {{ course.end_date }}

                    timetable-add-slot(v-if="!parent.readonly" v-bind:parent="$this")

            tbody(v-else='')
                timetable-width-alloc

                timetable-day(v-for="n in slotCount('Monday')" v-bind:key="'mon-'+n" v-bind:day="'Monday'"
                    v-bind:index="n-1" v-bind:slotview="course.slots.Monday[n-1]" v-bind:parent="$this")

                timetable-day(v-for="n in slotCount('Tuesday')" v-bind:key="'tue-'+n" v-bind:day="'Tuesday'"
                    v-bind:index="n-1" v-bind:slotview="course.slots.Tuesday[n-1]" v-bind:parent="$this")

                timetable-day(v-for="n in slotCount('Wednesday')" v-bind:key="'wed-'+n" v-bind:day="'Wednesday'"
                    v-bind:index="n-1" v-bind:slotview="course.slots.Wednesday[n-1]" v-bind:parent="$this")

                timetable-day(v-for="n in slotCount('Thursday')" v-bind:key="'thu-'+n" v-bind:day="'Thursday'"
                    v-bind:index="n-1" v-bind:slotview="course.slots.Thursday[n-1]" v-bind:parent="$this")

                timetable-day(v-for="n in slotCount('Friday')" v-bind:key="'fri-'+n" v-bind:day="'Friday'"
                    v-bind:index="n-1" v-bind:slotview="course.slots.Friday[n-1]" v-bind:parent="$this")

                timetable-day(v-for="n in slotCount('Saturday')" v-bind:key="'sat-'+n" v-bind:day="'Saturday'"
                    v-bind:index="n-1" v-bind:slotview="course.slots.Saturday[n-1]" v-bind:parent="$this")

                timetable-day(v-for="n in slotCount('Sunday')" v-bind:key="'sun-'+n" v-bind:day="'Sunday'"
                    v-bind:index="n-1" v-bind:slotview="course.slots.Sunday[n-1]" v-bind:parent="$this")

                timetable-add-slot(v-if="!parent.readonly" v-bind:parent="$this")

        .course-separator

        ul.right-click-menu(tabindex="-1" ref="dropdown" v-if="m_menuOpened && !parent.readonly"
                v-on:blur="closeDropDown" v-bind:style="{ top: m_menuTop, left: m_menuLeft } ")
            li.item(v-on:mousedown="btnCopyText_Click") Copy Selected Text
            li.header
                span Timetable
            li.item(v-on:click="btnEditSettings_Click") Edit Settings
            li.item(v-on:click="btnAddNewCourse_Click") Add New Course
            li.header
                span Course
            li.item(v-on:click="btnAddNewSlot_Click") Add New Slot
            li.item(v-on:click="btnEditSlot_Click") Edit Slot - {{m_menuSelectedText}}

</template>

<script lang="ts">

    import { Component, Emit, Inject, Model, Prop, Provide, Vue, Watch } from 'vue-property-decorator';
    import TimetableComponent from "./Timetable-Component.vue";
    import TimetableDay from "./Timetable-Day.vue";
    import { CourseView, CopyToClipboard } from "../Lib/Timetable";
	import {EditSlotStatus} from "../Lib/Slots";

    @Component({})
    export default class TimetableCourse extends Vue {
    // Props
        @Prop({default: null})
        public parent: TimetableComponent;

        @Prop({default: null})
        public course: CourseView;

    // Data
        public $this: TimetableCourse;

        protected m_menuOpened: boolean = false;
        protected m_menuTop: string = '0px';
        protected m_menuLeft: string = '0px';
        protected m_menuSelectedText: string = '';
        protected m_selectedSlot: TimetableDay;
        private   ready: boolean = false;

    // Methods and Computed
        constructor() {
            super();
        }

        mounted() {
            this.$this = this;
            this.ready = true;
        }

        updated() { }

        beforeUpdated() {
            // Count the slots because something has changed
            //      possibly a new slot added.
            this.course.countSlots(true);
        }

        /**
         * Get the amount of rows the course will take up
         * @returns {number}
         */
        courseRowSize() {
            return this.course.tableRowSize(this.parent.readonly);
        }

        /**
         * Get the first day
         * @returns {string}
         */
        public firstDay(): string {
            // Return the first day
            return this.course.slots.getFirstDayName();
        }

        /**
         * Checks if we have any days
         * @returns {boolean}
         */
        public hasDays(): boolean {
            // Count the days and return true if we have one or more.
            let days = this.course.countSlots().TotalDays;
            return days >= 1;
        }

        /**
         * Check if we have any slots at all
         * @returns {boolean}
         */
        public hasSlots(): boolean {
            // Count our slots or retrieve
            // the cached slots.
            let c = this.course.countSlots();

            // If we don't have any days
            // we don't have any slots.
            if (c.TotalDays <= 0)
                return false;

            // If wee have more than one
            // slot return true.
            return c.TotalSlots >= 1;
        }

        /**
         * Checks if a day has any slots
         * @param {string} day, EG: Monday
         * @returns {boolean}
         */
        public dayHasSlots(day: string): boolean {
            return this.course.countSlots()[day] >= 1;
        }

        /**
         * Count the slots for a certain day
         * @param {string} day
         */
        public slotCount(day: string) {
            return this.course.countSlots()[day];
        }

    // Menu Related Functions such as events
        /**
         * Set the dropdown location
         *
         * @param {number} top
         * @param {number} left
         */
        private setDropDownLocation(top: number, left: number): void {
            let elem: HTMLElement = (this.$refs['dropdown'] as HTMLElement);
            let largestHeight = window.innerHeight - elem.offsetHeight - 25;
            let largestWidth  = window.innerWidth  - elem.offsetWidth  - 25;

            if (top > largestHeight) top = largestHeight;

            if (left > largestWidth) left = largestWidth;

            this.m_menuTop = top + 'px';
            this.m_menuLeft = left + 'px';
        }

        /**
         * Close the dropdown
         */
        private closeDropDown(): void {
            this.m_menuOpened = false;
        }

        /**
         * The v-on:contextmenu callback
         *
         * @param e
         */
        private openDropDown(e: MouseEvent): void {

            // Check if we are read only
            // if so then we will just display the normal
            // context menu.
            if (this.parent.readonly)
                // Just return
                return;

            // Get the caller
            let caller: TimetableDay = (TimetableCourse.getVueFromElement(e.srcElement) as TimetableDay);

            // Check if the caller is a timetable-day
            if (caller == null || !caller['slotview']) {
                // We don't have a timetable-day, just return
                return;
            } else {
                // Store the selected slot
                this.m_selectedSlot = caller;

                // Setup the display text: 3 char day, start, subject eg: Mon, 09:00:00, Professionalism and Ethics
                this.m_menuSelectedText = caller.day.slice(0, 3) + ", " + caller.slotview.start + ", " + caller.slotview.subject;
            }

            // Show the menu
            this.m_menuOpened = true;

            // Store our instance for the callback
            let instance = this;

            Vue.nextTick(function() {
                // Get the element and focus on it.
                let elem: HTMLElement = instance.getDropDownElem();
                elem.focus();

                // Show the dropdown at the mouse x and y
                instance.setDropDownLocation(e.y, e.x);
            }.bind(this));

            // Don't show the normal context menu
            e.preventDefault();
        }

        /**
         * Get the dropdown element
         *
         * @returns {HTMLElement}
         */
        private getDropDownElem(): HTMLElement {
            return (this.$refs['dropdown'] as HTMLElement);
        }

        /**
         * Find a vue component by a element
         *
         * @param el
         * @returns {Vue}
         */
        private static getVueFromElement(el: any): Vue {
            // Our vue component controller
            let vm: Vue;

            // Loop while we have a element
            while (el) {
                // Check if el has a vue controller
                if (el['__vue__']) {
                    // Set el to the vue controller
                    vm = el['__vue__'];
                    // Set el to null and exit the loop
                    el = null;
                } else {
                    // Set the element to the parent of the current elem
                    el = el.parentNode
                }
            }

            // Check if we have a controller
            if (vm) {
                // We have found the vm so return it
                return vm;
            } else {
                // We have not found the vm
                return null;
            }
        }

        /**
         * Copy text from selection
         * @param {MouseEvent} e
         */
        private btnCopyText_Click(e: MouseEvent): void {
            // Tell the browser to copy the text
            document.execCommand('copy');

            // Close the menu
            this.m_menuOpened = false;
        }

        private btnEditSettings_Click(): void {
            /* window.App.Modals.ResourceSelection.selectRoom(
                function(status, selection) {
                    console.log("Room Response -> ", status, selection);
                }
            );

            // Close the menu
            this.m_menuOpened = false; //*/
        }

        private btnAddNewCourse_Click(): void {
            /* window.App.Modals.ResourceSelection.selectResourceCollection(
                function(status, selection) {
                    console.log("Resource Response -> ", status, selection);
                }
            ); //*/

            this.m_menuOpened = false;
        }

        private btnEditSlot_Click(): void {
            this.m_menuOpened = false;

            window.App.Modals.EditSlot.editSlot(this, this.m_selectedSlot, function(status) {
				console.log("Slot Status = ", EditSlotStatus[status]);
            });
        }

        private btnAddNewSlot_Click(): void { }
    }




</script>

<style scoped>

</style>