<template lang="pug">
	div(style='overflow-x: auto')
		//- If we have a error (Dont show the table, show the error)
		.alert.alert-danger(v-if="isState_Error()")
			| Error loading the timetable, Error = {{errorMessage}}

		.alert.alert-info(v-else-if="isState_NotReady()")
			| The timetable is loading, {{currentState_str()}}

		//- If have not errored
		.timetable.vert1.m-b-60(v-else='' style='transition: width 2s;')
			table(data-vertable="ver1" style="table-layout:fixed")
				thead
					tr.timetable-row.head
						th.timetable-col.column1(data-column="column1") COURSE
						th.timetable-col.column2(data-column="column2") DAY
						th.timetable-col.column3(data-column="column3") START
						th.timetable-col.column4(data-column="column4") END
						th.timetable-col.column5(data-column="column5") ROOM
						th.timetable-col.column6(data-column="column6") STAFF
						th.timetable-col.column7(data-column="column7") CODE
						th.timetable-col.column8(data-column="column8") SUBJECT

			timetable-course(v-for="course in timetable.courses" v-bind:parent="$this" v-bind:course="course" v-bind:key="course.id")
</template>

<script lang="ts">

	import { Component, Emit, Inject, Model, Prop, Provide, Vue, Watch } from 'vue-property-decorator';
	import * as Lib from "../Lib/Timetable";
	import * as Req from "../Lib/Requests";
	import * as Api from "../API";
    import {SlotDayList, SlotView} from "../Lib/Timetable";

	@Component({})
	export default class TimetableComponent extends Vue {
		// Props (readonly elements, usually set when initializing the element)
		@Prop({ default: -1 } )
		public timetableId: number;

		@Prop({ default: true })
		public readonly: boolean;

		// Data (volatile data that can be changed)
		public state:       Lib.TimetableState;
		public errorMessage: string;
		public timetable:    Lib.TimetableView = null;
		public $this:        TimetableComponent;

	// Methods and Computed
		constructor() {
			super();

			this.$this = this;
			this.state = Lib.TimetableState.Initializing;
			this.errorMessage = "Error during initialization";
		}

		mounted () {
			this.$this = this;

			if (this.state == Lib.TimetableState.Error)
				return;

			// Make sure the timetable is loaded before initialing values
			this.checkTimetableState();
		}

		// Order the slots
		beforeUpdate() {
		    if (this.timetable !== undefined && this.timetable.courses !== undefined) {
				this.sortSlots();
		    }
		}

		public sortSlots() {
            console.info("Sorting timetable slots...");

            // Sort slots by start time
            for (let x = 0; x < this.timetable.courses.length; x++) {
                const course = this.timetable.courses[x];

                // Store the list of days to iterate
                let days = ['Monday', 'Tuesday', 'Wednesday',
                    'Thursday', 'Friday', 'Saturday', 'Sunday'];

                // Loop the days
                for (let dayIndex = 0; dayIndex < days.length; dayIndex++) {
                    const day = days[dayIndex];

                    // Check if our day exists
                    if (course.slots[day] !== undefined) {
                        course.slots[day].sort(
                            (i1: SlotView, i2: SlotView) => {
                                //console.log("Comparing, i1 = ", i1, "i2 = ", i2, "result = ", i1);

                                if (i1.start > i2.start) return 1;
                                if (i1.start < i2.start) return -1;
                                return 0;
                            });
                    }
                }
            }
		}

		isState_Error(): boolean {
			return this.state == Lib.TimetableState.Error;
		}

		isState_NotReady(): boolean {
			return this.state != Lib.TimetableState.Ready;
		}

		checkTimetableState(): boolean {
			// Check if the timetable variable was set,
			// if not lets wait..
			if (!window.App.Timetable.Loaded)
			{
				this.state = Lib.TimetableState.Loading;
				// Wait 200ms and try again
				setTimeout(this.checkTimetableState, 200);
				return;
			}

			this.timetable = Lib.TimetableView.PrepareTable(window.App.Timetable.Data);
			this.state = Lib.TimetableState.Ready;
		}

		currentState_str(): string {
			return Lib.TimetableState[this.state];
		}
	}

</script>

<style scoped> </style>

<!-- Global timetable styles -->
<style>
	.subject-separator {
		height: 5px;
	}

	.course-separator {
		height: 15px;
		/*box-shadow: 0 8px 20px -6px grey;*/
	}

	.after-course-separator {
		height: 15px;
	}

	.timetable-col {
		border: 1px solid #ddd;
	}

	.timetable-col.column2 {
		width: 90px;
	}

	.timetable-col.column3,
	.timetable-col.column4 {
		width: 80px;
	}
</style>