<template lang="pug">
    tr.timetable-row(style="visibility: collapse; line-height: 0;")
        th.timetable-col.column1(data-column="column1") COURSE
        th.timetable-col.column2(data-column="column2") DAY
        th.timetable-col.column3(data-column="column3") START
        th.timetable-col.column4(data-column="column4") END
        th.timetable-col.column5(data-column="column5") ROOM
        th.timetable-col.column6(data-column="column6") STAFF
        th.timetable-col.column7(data-column="column7") CODE
        th.timetable-col.column8(data-column="column8") SUBJECT
</template>

<script lang="ts">
    import {Component, Emit, Inject, Model, Prop, Provide, Vue, Watch} from 'vue-property-decorator';

    @Component({})
    export default class TimetableWidthAlloc extends Vue {}
</script>