<template lang="pug">
    tr.timetable-row
        td.timetable-col.column2.text-center(colspan="7" rowspan="1") ADD CLASS TO COURSE
</template>

<script lang="ts">

    import {Component, Emit, Inject, Model, Prop, Provide, Vue, Watch} from 'vue-property-decorator';
    import TimetableCourse from "./Timetable-Course.vue";


    @Component({})
    export default class TimetableAddSlot extends Vue {
    // Props
        @Prop({default: null})
        public parent: TimetableCourse;

    // Data

    // Methods and Computed
        constructor() {
            super();
        }

        mounted() { }
    }

</script>

<style scoped>

</style>