<template lang="pug">

	tr.timetable-row
		td.timetable-col.column1(v-if="displayCourse()" v-bind:rowspan="courseRowSize()" data-column="column1")
			div
				.text-center {{parent.course.identifier}}
				.text-center(v-if="parent.course.containsName()")
					| {{parent.course.name}}
				.row(v-if="parent.course.hasDates()")
					.col-md-6.text-left(v-if="parent.course.hasStartDate()")
						| {{parent.course.start_date}}
					.col-md-6.text-right(v-if="parent.course.hasEndDate()")
						| {{parent.course.start_date}}

		td.timetable-col.column2(v-if="displayDay()" v-bind:rowspan="dayRowSize()" data-column="column2") {{day}}
		td.timetable-col.column3(data-column="column3") {{slotview.start}}
		td.timetable-col.column4(data-column="column4") {{slotview.end}}
		td.timetable-col.column5(data-column="column5") {{slotview.room.getName()}}
		td.timetable-col.column6(data-column="column6" :style="slotview.staff.getStyle()") {{slotview.staff.name}}
		td.timetable-col.column7(data-column="column7") {{slotview.code}}
		td.timetable-col.column8(data-column="column8") {{slotview.subject}}

</template>

<script lang="ts">

    import { Component, Emit, Inject, Model, Prop, Provide, Vue, Watch } from 'vue-property-decorator';
    import TimetableCourse from "./Timetable-Course.vue";
    import {CourseView, SlotView} from "../Lib/Timetable";

    @Component({})
    export default class TimetableDay extends Vue {
    // Props
        @Prop({default: null})
        public parent: TimetableCourse;

        @Prop({default: null})
        public day: string;

        @Prop({default: null})
        public slotview: SlotView;

        @Prop({default: null})
        public index: number;

    // Data

    // Methods and Computed
        constructor() {
            super();
        }

        mounted() { }
        beforeUpdated() { }

        /**
         * Get the amount of rows the course will take up
         * @returns {number}
         */
        courseRowSize() {
            return this.parent.course.tableRowSize(this.parent.parent.readonly);
        }

        dayRowSize() {
            return this.parent.course.countSlots()[this.day];
        }

        displayCourse() {
            let isFirstDay = this.parent.firstDay() == this.day;
            return this.index == 0 && isFirstDay;
        }

        displayDay() {
			return this.index == 0;
        }
    }

</script>

<style scoped>

</style>