.button-section .name {
	color:   blue;
	padding: 10px;
}

.button-section .information {
	margin: 4px;
	float: left;
}

.button-section .options {
	position: absolute; top:0; right:0;
}

.button-section {
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.button-section:hover {
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.card {
    background: #fff;
    border-radius: 2px;
    display: inline-block;
    height: 300px;
    margin: 1rem;
    position: relative;
    width: 300px;
}


@media only screen and (max-width: 600px) {
    .button-section .information {
		float: left;
	}
	
	.button-section .options {
		float: right;
	}
}

