<div class="navbar navbar-inverse bg-inverse">
    <div class="container d-flex justify-content-between">
        <a href="#" class="navbar-brand">Timetable</a>
         <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="#">Login</a>
          </li>
        </ul>
    </div>
</div>