/**
 * @author Callum Carmicheal
 * @date   18/01/2018 11:12
 * @desc   Defines general webpage structure
 *
 * @major changes
 *
 * -> 19/01/2018 22:12 File created
 * -> 20/01/2018 01:26 Style decided upon and file formatted
 */


/*
=== Header *
.header-breadcrumbs {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    margin-bottom: 40px;    background: white; }

.header-breadcrumbs ol {
    background: white; } /**/

#app {
    margin-top: 90px;
}

/*
=== Utility classes */
.fixed {
    position: fixed;
    top: 0px;
}