/**
 * author Callum Carmicheal
 * date   20/01/2018 01:26
 * desc   Defines the table structure and the timetable style
 *
 * major changes
 *
 * -> 19/01/2018 22:12 File created
 * -> 20/01/2018 01:26 Style decided upon and file formatted
 */


/*
=== Timetable default settings */
table {
	width: 100%;     background-color: #fff; }

table, td, th {
	border: 1px solid #ddd;      text-align: left; }

table {
	border-collapse: collapse;   width: 100%;
	max-width: 100%;             overflow-x: scroll; }

.no-border {
	border: none!important;      height: 20px; }

.timetable { /*Setup the default viewport, if on mobile this will stop c
               content from looking squished.*/
	min-width: 700px; }

/*
=== Table Column width, font and padding. */
.timetable-col {
	width: 130px;        padding-left: 10px; }
.timetable-col.column1 {
	width: 190px;        padding:      0px 20px; font-size: 16px; }


/*
=== Table Row padding and fonts */
.timetable-row.head th {
	padding-top: 20px;   padding-bottom: 20px;   font-size: 14px; }
.timetable-row td {
	padding-top: 5px;    padding-bottom: 5px; }


/*
=== Table Data and Header style*/
.timetable td {
	font-size: 14px;  color: #808080;  line-height: 1.4; }
.timetable th {
	font-size: 12px;  color: #fff;     line-height: 1.4;
	text-transform: uppercase;         background-color: #2c3e50; }


/*
===	Table Highlighting */
.timetable .timetable-row:hover {
	background-color: #f0f0f0!important; } /*f2f2f2*/
.timetable .hov-column {
	background-color: #f0f0f0; } /*f2f2f2*/
.timetable .hov-column-head {
	background-color: #3498db!important; }
.timetable .timetable-row td:hover {
	background-color: #6c7ae0!important;     color: #fff; }

/*
=== Timetable Edit Button *
.timetable-col.column9 {
	padding:0;     height:100%;                  text-align: center;
	width:30px; }

.timetable-col.column9.hidden {
	display:none; }

.timetable-col.column9 i {
	width:30px;    vertical-align: middle; }

    /*STYLE:DISABLE*/

/*
=== Misc */

.timetable-filter-day-checkbox {
	margin-right: 50px;    width: 100px; }

