<footer class="text-muted">
	<div class="container">
		<p class="float-right footer-backtotop">
			<a href="#">Back to top</a>
		</p>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent finibus interdum nulla, eget feugiat dui egestas vel. Sed ac mollis.</p>
		<p>
			Dont have a account?
			<a href="../../">Contact Support</a>.
		</p>
	</div>
</footer>