@import "../variables";

/**
 * This is a simple css animated loader that can be
 * used for loading content.
 */

.loader {
  // Border radius
  border: 6px solid $loader-background;
  border-radius: 50%;
  border-top: 6px solid $loader-color;
  width: 40px;
  height: 40px;

  // Animation
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

/**
 * Key frames
 */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}